{% extends 'Home\base.html' %}
{%load static%}

{% block content %}

<div class="sect sect--padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      <div class="site">
        <h1 class="site__title">We Welcome {% if user.is_anonymous %}
          You
          {% else %}
          {{request.user.first_name}} {{request.user.last_name}} 
          {% endif %}
           to Unit of AgriUpdate</h1>
        <h2 class="site__subtitle">Be What's Next.................</h2>
        <div class="site__box-link">
          {% if request.user.is_authenticated %}
          <a class="btn btn--width" href="{% url 'account' %}">Account</a>
          {% else %}
          <a class="btn btn--width" href="{% url 'Service' %}">Service</a>
          {% endif %}         
          <a class="btn btn--revert btn--width" href="{% url 'Contact' %}">Contact</a>
        </div>
        
        <img class="site__img" style="border-radius: 15%;" src="https://images.unsplash.com/photo-1534765031914-fa15860517f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
      </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}