{% extends 'base.html' %}
{%load static%}
{% block title %} | Form{% endblock title %}

{% block content %}


<div class="sect sect--padding-top">
  <div class="container">
    <div class="row">
   
        <h1 class="row__title">Register</h1>

        <div class="col-md-12">
          <div class="site">
            <h2 class="site__subtitle">Create an AgriUpdate Account</h2>

            <form method="post" style="margin-right:20%;margin-left: 20%;">
              {% csrf_token %}
              {% for field in form %}
              <p>
            
                {{ field }}
                {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
              <button type="submit" class="btn btn--width">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}