{% extends 'Home/Base.html' %}
{%load static%}
{% block title %} | Service{% endblock title %}
{% block content %}

<div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row row--center">
      <h1 class="row__title">
        Pricing
      </h1>
      <h2 class="row__sub">What fits your business the best?</h2>
    </div>
    <div class="row row--center row--margin">
      {% for service in Ourservice %}
      <div class="col-md-4 col-sm-4 price-box price-box" style="margin-bottom:8% ;">
        <div class="price-box__wrap">
          <div class="price-box__img">
            <img class="price-box__img" src="{{service.image}}">
          </div>
          <h1 class="price-box__title">
            {{ service.title }}
          </h1>
          <p class="price-box__people">
            {{ service.people }} Group
          </p>
          <h2 class="price-box__discount">
            <span class="price-box__dollar">₹</span>{{ service.discount }}<span
              class="price-box__discount--light">/mo</span>
          </h2>
          <h3 class="price-box__price">
            {{ service.price }}/mo
          </h3>
          <p class="price-box__feat">
            Features
          </p>
          <ul class="price-box__list">
            <li class="price-box__list-el">{{ service.lista }}</li>
            <li class="price-box__list-el">{{ service.listb }}</li>
            <li class="price-box__list-el">{{ service.listc }}</li>
            <li class="price-box__list-el">{{ service.listd }} </li>
            <li class="price-box__list-el">{{ service.liste }} </li>
          </ul>
          <div class="price-box__btn">
            <a class="btn btn--purple btn--width" href="{% url 'client' %}">Start now</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <br><br>

    </div>
  </div>
</div>
{% endblock content %}